#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

*, *::before, *::after {
  font-family: 'Orbitron', sans-serif;
  color: rgb(97, 242, 247);
  background-image: url('https://cdn.mos.cms.futurecdn.net/rbfoDRrUVAF5GfccovJ9f7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 12rem;
}


